@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-image:url('../images/backgroundbody.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.indexLogo{
    width: 120px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

.welcomeMSG{
    text-align: center;
    font-family: 'Arvo', sans-serif;
    background-color: rgba(255, 255, 255, 0.65);
}

.menu{
    display: flex;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(255, 248, 220, 0.651);
}

.menu li{
    margin: 0 auto;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    text-align: center;
}

.menu li a p{
    font-family: 'Arvo', sans-serif;
    color: #000;
}

.footer{
    position: absolute;
    bottom: 0;
    padding: 10px 0; 
    width: 100%;
    background-color: orange;
}

.midiaSocial{
    display: flex;
    align-self: center;
    justify-self: center;
}

.midiaSocial a{
    margin: 0 auto;
    text-decoration: none;
}

.midiaSocial a span{
    position: relative;
    top: -15px;
    font-family: 'Arvo', sans-serif;
    color: #000;
}