@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    align-items: center;
    background-image: url('../images/bgMoraes-min.png');
}

.imglogoMain{
    width: 120px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

.imglogo{
    width: 120px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

#intro{
    text-align: center;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(177, 177, 177, 0.95);
    padding: 10px 10px;
    margin: 0 15px;
}

ul{
    display: flex;
    list-style: none;
    width: 350px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 100%;
}

.listaCardapio{
    border-radius: 5px;
    margin: 10px auto;
    background-color: rgba(177, 177, 177, 0.95);
    padding: 10px 10px;
}

.listaCardapio > img{
    flex: 1;
}

.iconeham{
    margin: 0 16px;
}

.bebidaIndex{
    width: 129px;
}

.bebidaIndex > a > img{
    margin-left: 15px;
}

.listaCardapio > a{
    text-decoration: none;
    color: crimson;
    font-weight: bolder;
    text-align: center;
    font-size: 1.1rem;
}

footer{
    text-align: center;
    color: black;
    font-weight: 700;
    margin-top: 120px;
    background-color: rgba(212, 212, 212, 0.9);
    padding: 10px 10px;
}

.mostraRede{
    display: flex;
    width: 300px;
    margin: 10px auto
    
}

.mostraRede > a{
    text-decoration: none;
    color: black;
}

.mostraRede > a > span{
    margin-left: 10px;
    position: relative;
    top: -14px;
}