@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url('../images/backgroundbody.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#docTable{
    margin-top: 10px;
}

.imglogo{
    width: 120px;
    height: 120px;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
}

h1{
    color: red;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 95%;
    margin: 5px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: black;
    background-color: rgba(255, 248, 220, 0.705);
    padding: 0px 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.selectOpt{
    justify-self: center;
    align-self: center;
    height: 17px;
    width: 17px;
}

.tituloHamburguer{
    grid-column: 2/4;
    font-family: 'Sigmar One', sans-serif;
    color: orangered;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Bebas Neue';
    margin-top: 10px;
}

.subtotalValor{
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    margin-top: 5px;
}

.showValor{
    justify-self: center;
    align-self: center;
}

button{
    background-color: orange;
    color: white;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 4px;
    border: orange;
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

/* .btn-goBack{
    display: grid;
    margin: 40px  auto;
} */

.butoes{
    display: flex;
    margin: 7px;
}

.butoes button{
    margin: 10px auto;
}

.gr, .guarnicoesFull{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.39);
}

.g1, .guarnicoesFull label{
   display: flex ;
}

.guarnicoesFull label{
    margin: 0 auto;
}

.g1 input, .guarnicoesFull label input {
    margin-top: 5px;
}

.guarnicao, .guarnicoesFull label p{
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
}